button {

    color: transparent !important;
    background: transparent !important;
    border-color: transparent !important;


}

button:hover {

    color: black !important;


}

body {
    background: #abc530;
}

h1 {
    text-align: center;
    color: #ebd8d9;
    font-size: 4rem;
}